
.react-photo-gallery--gallery {
    position: relative;
    overflow-y: scroll;
    height: 33em;
    margin-bottom: 5%;
}
.react-photo-gallery--gallery::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}