.profile  {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	
	
}

.profile > img {
	width: 200px;
	height: 200px;
	border-radius: 1em 0 0 1em;
	
}
.about-me {
	width:40%;
	height: 200px;
	padding: 0 4em;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 0 1em 1em 0;
}
.about-me > h2 {
	font-variant-caps: small-caps;
	text-align: left;
	border-bottom: 2px solid white;
}

.about-me > p {
	text-align: justify;
	font-weight: 800;
	margin: 20px 0px
}
