.resume-container {
	flex-flow: row wrap;
	justify-content: flex-start;
}
.resume-child {
	height: inherit;
	margin: auto;
	

}

.pdf-container {
	overflow-y: scroll;
	height: 75vh;
}

.download {
	color: whitesmoke;
	padding: 0.2em;
	display: inline-block;
	vertical-align: top;
	background: #4f4f4f;
	border-radius: 0px 8px 8px 0px;
}
.download:hover {
	background: whitesmoke;
	color: #4f4f4f;
}

canvas {
	min-width: 200px;
}

@media screen and (max-width: 720) {
	.icon {
		border-radius: 8px;
	}
}
